@use '../variables';
@use './container';
@use './flex';

// %layout-root {
    // background-color: var(--background);
    // color: var(--on-background);
    // font-family: variables.$font-family-sans-serif;
    // font-size: variables.$font-size-base;
    // font-weight: variables.$font-weight-base;
    // line-height: variables.$line-height-base;
    // text-align: start;
// }

// @mixin layout-root($selector: variables.$layout-root-selector) {
    // #{$selector} {
    //     background-color: var(--background);
    //     color: var(--on-background);
    //     font-family: variables.$font-family-sans-serif;
    //     font-size: variables.$font-size-base;
    //     font-weight: variables.$font-weight-base;
    //     line-height: variables.$line-height-base;
    //     text-align: start;
    // }
// }

%layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--on-background);
    font-family: variables.$font-family-sans-serif;
    font-size: variables.$font-size-base;
    font-weight: variables.$font-weight-base;
    line-height: variables.$line-height-base;
    text-align: variables.$text-align-base;

    > header,
    footer {
        background: var(--header);
        color: var(--on-header);

        a {
            color: var(--on-header);
            text-decoration: none;
        }
    }

    > header {
        margin-block-end: variables.$layout-margin-block-end;

        nav {
            padding: variables.$layout-padding;
            @extend %flex-between;
            @extend %container;

            div {
                @extend %flex-between;
            }
        }

        a.brand {
            background: linear-gradient(#ff8000, #ffb366, #ffe6cc, #ffb366, #ff8000);
            background-clip: text;
            color: transparent;
            font-weight: variables.$font-weight-bold;
            font-size: variables.$font-size-lg;
        }
    }

    > main {
        margin-block-end: variables.$layout-margin-block-end;
        padding-inline: variables.$layout-padding-inline;
        @extend %container;
    }

    > footer {
        margin-top: auto;
        padding: variables.$layout-padding;
        text-align: center;
    }
}
