@use '../utils/variables' as *;
@use 'containers';
@use 'flex';

%main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    margin-bottom: 1.5rem;
    padding: 0 0.75rem;

    > * {
        flex: 1 1 0%;
    }

    & {
        @include containers.make-container($layout-main-breakpoints);
    }
}
