@use "sass:map";
@use "../variables" as *;

@mixin container($max-widths: $container-max-widths, $breakpoints: $container-breakpoints) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @each $breakpoint, $max-width in $max-widths {
        @if not map.has-key($map: $breakpoints, $key: #{$breakpoint}) {
            @debug "breakpoints map provided does not have an entry for #{$breakpoint}, skipping";
        } @else {
            @media (min-width: map.get($breakpoints, #{$breakpoint})) {
                max-width: $max-width;
            }
        }
    }
}
