// Heavily based on Bootstrap containers: https://github.com/twbs/bootstrap/blob/v5.2.3/scss/_containers.scss
// Stripped down to just a single container class
.container {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

@each $breakpoint, $container-max-width in $container-max-widths {
	$grid-breakpoint: map-get($grid-breakpoints, $breakpoint);

	.container {
		@media (min-width: $grid-breakpoint) {
			width: $container-max-width;
		}
	}
}

.flex-with-gap {
	@include make-flex($column-gap: 0.5rem, $align-items: inherit);
}