$config-reset-styles: false;
$config-root: null;
$config-abbr-selector: null;
$config-buttons-make-theme-variants: null;
$config-buttons-make-theme-variants-inverted: null;
$config-buttons-use-base: null;
$config-cards-selector: null;
$config-details-selector: null;
$config-dialog-selector: null;
$config-forms-selector: null;
$config-support-dark-mode: null;
$config-table-selector: null;
$config-table-wrapper-selector: null;
$config-theme-colors: null;
$config-toggle-selector: null;
$config-tooltip-selector: null;