$config-reset-styles: false !default;
$config-root: 'body' !default;;
$config-abbr-selector: 'abbr' !default;
$config-buttons-make-theme-variants: false !default;
$config-buttons-make-theme-variants-inverted: false !default;
$config-buttons-use-base: false !default;
$config-cards-selector: '.card' !default;
$config-details-selector: 'detail' !default;
$config-dialog-selector: 'dialog' !default;
$config-forms-selector: 'form' !default;
$config-support-dark-mode: true !default;
$config-table-selector: 'table' !default;
$config-table-wrapper-selector: '.table-wrapper' !default;
$config-theme-colors: null !default;
$config-toggle-selector: '.toggle' !default;
$config-tooltip-selector: '[data-title]' !default;

@use "./variables";

@mixin configure($reset-styles: null, $root: null, $abbr-selector: null, $buttons-make-theme-variants: null, $buttons-make-theme-variants-inverted: null,
		$buttons-use-base: null, $cards-selector: null, $details-selector: null, $dialog-selector: null, $forms-selector: null, $support-dark-mode: null,
		$table-selector: null, $table-wrapper-selector: null, $theme-colors: variables.$theme-colors, $toggle-selector: null,
		$tooltip-selector: null, $tooltip-content-selector: null) {
	@if $reset-styles {
		$config-reset-styles: $reset-styles !global;
	}
	@if $root {
		$config-root: $root !global;
	}
	@if $abbr-selector {
		$config-abbr-selector: $abbr-selector !global;
	}
	@if $buttons-make-theme-variants {
		$config-buttons-make-theme-variants: $buttons-make-theme-variants !global;
	}
	@if $buttons-make-theme-variants-inverted {
		$config-buttons-make-theme-variants-inverted: $buttons-make-theme-variants-inverted !global;
	}
	@if $buttons-use-base {
		$config-buttons-use-base: $buttons-use-base !global;
	}
	@if $cards-selector {
		$config-cards-selector: $cards-selector !global;
	}
	@if $details-selector {
		$config-details-selector: $details-selector !global;
	}
	@if $dialog-selector {
		$config-dialog-selector: $dialog-selector !global;
	}
	@if $forms-selector {
		$config-forms-selector: $forms-selector !global;
	}
	@if $support-dark-mode {
		$config-support-dark-mode: $support-dark-mode !global;
	}
	@if $table-selector {
		$config-table-selector: $table-selector !global;
	}
	@if $table-wrapper-selector {
		$config-table-wrapper-selector: $table-wrapper-selector !global;
	}
	@if $theme-colors {
		$config-theme-colors: $theme-colors !global;
	}
	@if $toggle-selector {
		$config-toggle-selector: $toggle-selector !global;
	}
	@if $tooltip-selector {
		$config-tooltip-selector: $tooltip-selector !global;
	}
	@if $tooltip-selector {
		$config-tooltip-content-selector: $tooltip-content-selector !global;
	}
}