@use "sass:color";
@use "sass:map";

$white: #fff !default;
$gray-400: #ced4da !default;
$gray-700: #495057 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Used https://www.canva.com/colors/color-wheel/ to come up with these colors, based on $orange as the primary input
// I opted to darken $green using shift-color(#23F10E, 20%) to get it white to have higher contrast
$red:          #F10E23 !default;
$orange:       #F16B0E !default;
$yellow:       #F1DD0E !default;
$chartreuse:   #94F10E !default;
$green:        #1CC10B !default; // should be #23F10E but was too light
$spring-green: #0EF16A !default;
$cyan:         #0EF1DC !default;
$azure:        #0E95F1 !default;
$blue:         #0E24F1 !default;
$violet:       #6A0EF1 !default;
$magenta:      #DC0EF1 !default;
$rose:         #F10E94 !default;

$primary:   $orange !default;
$danger:    $red !default;
$info:      $azure !default;
$success:   $green !default;
$light:     $gray-400 !default;
$dark:      $gray-900 !default;

$background-color: $light !default;
$foreground-color: $dark !default;

// start color shades and helper variables
$color-dark-scale: 40%;
$color-light-scale: -80%;

$red-dark:           shift-color($red,          $color-dark-scale);
$red-light:          shift-color($red,          $color-light-scale);
$orange-dark:        shift-color($orange,       $color-dark-scale);
$orange-light:       shift-color($orange,       $color-light-scale);
$yellow-dark:        shift-color($yellow,       $color-dark-scale);
$yellow-light:       shift-color($yellow,       $color-light-scale);
$chartreuse-dark:    shift-color($chartreuse,   $color-dark-scale);
$chartreuse-light:   shift-color($chartreuse,   $color-light-scale);
$green-dark:         shift-color($green,        $color-dark-scale);
$green-light:        shift-color($green,        $color-light-scale);
$spring-green-dark:  shift-color($spring-green, $color-dark-scale);
$spring-green-light: shift-color($spring-green, $color-light-scale);
$cyan-dark:          shift-color($cyan,         $color-dark-scale);
$cyan-light:         shift-color($cyan,         $color-light-scale);
$azure-dark:         shift-color($azure,        $color-dark-scale);
$azure-light:        shift-color($azure,        $color-light-scale);
$blue-dark:          shift-color($blue,         $color-dark-scale);
$blue-light:         shift-color($blue,         $color-light-scale);
$violet-dark:        shift-color($violet,       $color-dark-scale);
$violet-light:       shift-color($violet,       $color-light-scale);
$magenta-dark:       shift-color($magenta,      $color-dark-scale);
$magenta-light:      shift-color($magenta,      $color-light-scale);
$rose-dark:          shift-color($rose,         $color-dark-scale);
$rose-light:         shift-color($rose,         $color-light-scale);
// end color shades

// start color maps
$base-colors: (
	'red': $red,
	'orange': $orange,
	'yellow': $yellow,
	'chartreuse': $chartreuse,
	'green': $green,
	'spring-green': $spring-green,
	'cyan': $cyan,
	'azure': $azure,
	'blue': $blue,
	'violet': $violet,
	'magenta': $magenta,
	'rose': $rose
) !default;

$theme-colors: (
	'primary': $primary,
	'info':    $info,
	'success': $success,
	'danger':  $danger
) !default;

$dark-colors: (
	'red-dark': $red-dark,
	'orange-dark': $orange-dark,
	'yellow-dark': $yellow-dark,
	'chartreuse-dark': $chartreuse-dark,
	'green-dark': $green-dark,
	'spring-green-dark': $spring-green-dark,
	'cyan-dark': $cyan-dark,
	'azure-dark': $azure-dark,
	'blue-dark': $blue-dark,
	'violet-dark': $violet-dark,
	'magenta-dark': $magenta-dark,
	'rose-dark': $rose-dark
) !default;

$light-colors: (
	'red-light': $red-light,
	'orange-light': $orange-light,
	'yellow-light': $yellow-light,
	'chartreuse-light': $chartreuse-light,
	'green-light': $green-light,
	'spring-green-light': $spring-green-light,
	'cyan-light': $cyan-light,
	'azure-light': $azure-light,
	'blue-light': $blue-light,
	'violet-light': $violet-light,
	'magenta-light': $magenta-light,
	'rose-light': $rose-light
) !default;
//end color maps

// start fonts & typography
$font-family-sans-serif: 'Open Sans', 'Source Sans Pro', "PingFang SC", "Microsoft YaHei", sans-serif !default;
$font-family-monospace: 'Fira Code', consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace !default;
$headings-font-family: 'Exo 2', 'Open Sans', 'Source Sans Pro', "PingFang SC", "Microsoft YaHei", sans-serif !default;

$font-size-base: 1rem !default;
$font-size-sm: $font-size-base * .875 !default;
$font-size-lg: $font-size-base * 1.25 !default;

$font-weight-base: 400 !default;
$line-height-base: 1.5 !default;
// end fonts & typography

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
	xxl: 1400px,
	3xl: 1600px,
	4xl: 1920px) !default;
// scss-docs-end grid-breakpoints

// scss-docs-start container-max-widths
$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1320px,
	3xl: 1500px,
	4xl: 1800px) !default;
// scss-docs-end container-max-widths

$button-color: $white;
$button-border-scale: 30%;
$button-background-scale: 0%;
$button-background-scale-hover: 15%;
$button-background-scale-active: 25%;
$button-background-scale-disabled: -30%;

$input-range-thumb-width: 1rem !default;
$input-range-thumb-height: $input-range-thumb-width !default;
$input-range-thumb-bg: $primary !default;
$input-range-thumb-border-color: shade-color($primary, 25%) !default;
$input-range-thumb-border-radius: 50% !default;
$input-range-thumb-cursor: pointer !default;
$input-range-thumb-disabled-bg: tint-color($primary, 10%) !default;
$input-range-thumb-focus-box-shadow: 0 0 0.05rem 0.05rem $white, 0 0 0.25rem 0.25rem $primary !default;

$input-range-track-height: 0.25rem !default;
$input-range-track-width: 100% !default;
$input-range-track-bg: $background-color !default;
$input-range-track-border-radius: 0 !default;
$input-range-track-cursor: none !default;

$input-text-border-color: $primary !default;
$input-text-focus-box-shadow: 0 0 0.5rem 0 tint-color($primary, 25%) !default;