$-reset-styles: false;
$-root: null;
$-abbr-selector: null;
$-buttons-make-theme-variants: null;
$-buttons-make-theme-variants-inverted: null;
$-buttons-use-base: null;
$-cards-selector: null;
$-details-selector: null;
$-dialog-selector: null;
$-table-selector: null;
$-table-wrapper-selector: null;
$-theme-colors: null;
$-toggle-selector: null;
$-tooltip-selector: null;

// @import "functions";
@forward "variables";
@forward "mixins/buttons";
@forward "mixins/cards";
@forward "mixins/containers";
@forward "mixins/details";
@forward "mixins/dialog";
@forward "mixins/flex";
@forward "mixins/layout";
@forward "mixins/reset";
@forward "mixins/tables";
@forward "mixins/toggles";
@forward "mixins/typography";
@use "variables" as v;
@use "mixins/buttons";
@use "mixins/cards";
@use "mixins/details";
@use "mixins/dialog";
@use "mixins/layout";
@use "mixins/reset";
@use "mixins/tables";
@use "mixins/toggles";
@use "mixins/typography";

@mixin configure($reset-styles: null, $root: null, $abbr-selector: null, $buttons-make-theme-variants: null, $buttons-make-theme-variants-inverted: null, $buttons-use-base: null, $cards-selector: null, $details-selector: null, $dialog-selector: null, $table-selector: null, $table-wrapper-selector: null, $theme-colors: v.$theme-colors, $toggle-selector: null, $tooltip-selector: null) {
	@if $reset-styles {
		$-reset-styles: $reset-styles !global;
	}
	@if $root {
		$-root: $root !global;
	}
	@if $abbr-selector {
		$-abbr-selector: $abbr-selector !global;
	}
	@if $buttons-make-theme-variants {
		$-buttons-make-theme-variants: $buttons-make-theme-variants !global;
	}
	@if $buttons-make-theme-variants-inverted {
		$-buttons-make-theme-variants-inverted: $buttons-make-theme-variants-inverted !global;
	}
	@if $buttons-use-base {
		$-buttons-use-base: $buttons-use-base !global;
	}
	@if $cards-selector {
		$-cards-selector: $cards-selector !global;
	}
	@if $details-selector {
		$-details-selector: $details-selector !global;
	}
	@if $dialog-selector {
		$-dialog-selector: $dialog-selector !global;
	}
	@if $table-selector {
		$-table-selector: $table-selector !global;
	}
	@if $table-wrapper-selector {
		$-table-wrapper-selector: $table-wrapper-selector !global;
	}
	@if $theme-colors {
		$-theme-colors: $theme-colors !global;
	}
	@if $toggle-selector {
		$-toggle-selector: $toggle-selector !global;
	}
	@if $tooltip-selector {
		$-tooltip-selector: $tooltip-selector !global;
	}
}

@mixin styles {
	@if $-reset-styles {
		@include reset.reset-styles();
	}
	// Typography / Base HTML Elements
	@if $-abbr-selector {
		@include typography.make-abbr($selector: $-abbr-selector);
	}
	@if $-buttons-use-base {
		@include buttons.make-button-base();
	}
	@if $-tooltip-selector {
		@include typography.make-tooltips($selector: $-tooltip-selector);
	}
	@if $-details-selector {
		@include details.make-details($selector: $-details-selector);
	}
	@if $-dialog-selector {
		@include dialog.make-dialogs($selector: $-dialog-selector);
	}
	@if $-table-selector {
		@include tables.make-tables($selector: $-table-selector, $wrapper-selector: $-table-wrapper-selector);
	}
	// Advanced Layout
	@if $-root {
		@include layout.make-root($-root);
	}
	@if $-buttons-make-theme-variants {
		@include buttons.make-button-variants($color-map: $-theme-colors);
	}
	@if $-buttons-make-theme-variants-inverted {
		@include buttons.make-button-variants-inverted($color-map: $-theme-colors);
	}
	@if $-cards-selector {
		@include cards.make-cards($selector: $-cards-selector);
	}
	@if $-toggle-selector {
		@include toggles.make-toggles($selector: $-toggle-selector);
	}
}