@use "../utils/variables" as *;
@use "header";
@use "footer";
@use "main";
@use "root";

@mixin default-layout(
		$root-selector: $layout-root-selector,
		$header-selector: $layout-header-selector,
		$main-selector: $layout-main-selector,
		$footer-selector: $layout-footer-selector) {
	#{$root-selector} {
        @extend %root;
        // font-size: 1rem;
        // font-weight: 400;
        // line-height: 1.5;
        // text-align: start;

        & > #{$header-selector} {
			@extend %header;
        }

        & > #{$main-selector} {
			@extend %main;
        }

        & > #{$footer-selector} {
			@extend %footer;
        }
    }
}