@use "containers";
@use "flex";

%header {
    margin-bottom: 1.5rem;

    nav {
        @extend %container;
		display: flex;
		align-items: baseline;
		column-gap: 1rem;
		padding: 0.5rem 0.75rem;
    }
}