@mixin abbr($selector: 'abbr') {
    #{$selector} {
        text-decoration-line: none;
        border-bottom: var(--theme-border-width) dotted var(--theme-border-color);
        cursor: help;
    }
}
