@mixin abbr-style {
    text-decoration-line: none;
    border-bottom: var(--component-border);
    border-bottom-style: dotted;
    cursor: help;
}

@mixin data-abbr-style($attribute-selector) {
    position: relative;
    &:before {
        display: none; // hide by default
        content: attr(#{$attribute-selector}); // here's the magic. It doesn't preserve new lines though
        position: absolute;
        z-index: 10;
        // Position the tooltip below the original element
        // TODO: Replace with Anchor positioning once it's widely available
        // https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Anchor_positioning/Using
        top: 125%;
        left: 100%;
        // basic styles
        width: max-content;
        max-width: calc(100dvw - 3rem);
        border: var(--component-border);
        padding: var(--component-padding);
        box-shadow: var(--surface-box-shadow);
    }
    &:hover:before {
        display: block;
    }
}

@mixin abbr($element-selector: 'abbr') {
    #{$element-selector} {
        @include abbr-style;
    }
}

// TODO: Switch to Anchor Positioning once it's widely available
// https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Anchor_positioning
// Once that's done, might need a way to pass in the anchor name to use for each specific tooltip?
@mixin data-abbr($attribute-selector: 'data-abbr') {
    [#{$attribute-selector}] {
        @include abbr-style;
        @include data-abbr-style($attribute-selector: $attribute-selector);
    }
}

// Helper mixin to reduce code duplicate in generated css
@mixin abbreviations($abbr-selector: 'abbr', $data-abbr-selector: 'data-abbr') {
    #{$abbr-selector},
    [#{data-abbr-selector}] {
        @include abbr-style;
    }

    [#{$data-abbr-selector}] {
        @include data-abbr-style($attribute-selector: $data-abbr-selector);
    }
}