@mixin anchor($selector: 'a') {
    #{$selector} {
        &:link {
            color: var(--link);
        }
        &.visited,
        &:visited {
            color: var(--link-visited);
        }
        &.active,
        &:active {
            color: var(--link-active);
        }
    }
}