@use 'sass:map';
@use '../variables';

@mixin buttons() {
    @include buttons-base;
    @include buttons-lg;
    @include buttons-sm;
}

// Based heavily on Bootstrap: https://github.com/twbs/bootstrap/blob/v5.2.3/scss/_buttons.scss
@mixin buttons-base($selectors: 'button, a[role=button]:any-link, [type=button], [type=submit], [type=reset]') {
    #{$selectors} {
        --component-background: transparent;
        border: var(--component-border);
        padding: var(--component-padding);
        font-size: var(--font-size);
        background-color: var(--component-background);
        color: var(--component-color);
        cursor: pointer;
        text-decoration: none;
    }
}

@mixin buttons-lg($selector: '.btn-lg') {
    #{$selector} {
        font-size: var(--font-size-lg);
        padding: var(--component-padding-lg);
    }
}

@mixin buttons-sm($selector: '.btn-sm') {
    #{$selector} {
        font-size: var(--font-size-sm);
        padding: var(--component-padding-sm);
    }
}

// Based heavily on Bootstrap: https://github.com/twbs/bootstrap/blob/v5.2.3/scss/mixins/_buttons.scss
// This has been turned into an opt-in mixin, instead of always including the classes in the compiled css
@mixin buttons-themed($color-map: variables.$theme-color-map) {
    @each $key, $value in $color-map {
        .btn-#{$key} {
            @include button-themed($theme-color: $value);
        }
    }
}

@mixin buttons-themed-inverted($color-map: variables.$theme-color-map) {
    @each $key, $value in $color-map {
        .btn-#{$key}-inverted {
            @include button-themed-inverted($theme-color: $value);
        }
    }
}

@mixin button-themed($theme-color) {
    --component-background: #{$theme-color};
}

@mixin button-themed-inverted($theme-color) {
    --component-color: #{$theme-color};
    --component-border-color: #{$theme-color};
}
