@use '../variables';

@mixin card-style($padding: variables.$surface-padding, $margin-block-end: variables.$surface-margin-block-end) {
    margin-block-end: $margin-block-end;
    border: var(--surface-border);
    padding: var(--surface-padding);
    background-color: var(--surface-background);
    box-shadow: var(--surface-box-shadow);
}

@mixin card($selector: '.card') {
    #{$selector} {
        @include card-style;
    }
}
