@use '../variables' as *;

@mixin code($pre-selector: 'pre', $code-selector: 'code') {
    #{$pre-selector},
    #{$code-selector} {
        background: var(--theme-surface);
        color: var(--theme-on-surface);
    }

    #{$pre-selector} {
        padding: 1em;
        overflow: auto;
        & > #{$code-selector} {
            padding: 0;
        }
    }

    #{code} {
        padding: $padding-sm;
    }
}
