@use '../variables' as *;

@mixin code($pre-selector: 'pre', $code-selector: 'code') {
    #{$pre-selector},
    #{$code-selector} {
        background: var(--component-background);
        color: var(--component-color);
    }

    #{$pre-selector} {
        padding: var(--component-padding-lg);
        overflow: auto;
        // & > #{$code-selector} {
        //     padding: 0;
        //     vertical-align: inherit;
        // }
    }

    :not(pre) > #{code} {
        padding: var(--component-padding-sm);
        vertical-align: text-bottom;
    }
}
