@use '../variables' as *;

@mixin code($pre-selector: 'pre', $code-selector: 'code') {
    #{$pre-selector},
    #{$code-selector} {
        background: var(--component-background);
        color: var(--component-color);
    }

    #{$pre-selector} {
        padding: var(--component-padding-large);
        overflow: auto;
    }

    :not(pre) > #{code} {
        display: inline-block;
        height: 100%;
        padding-inline: var(--component-padding-inline);
    }
}
