@use "sass:map";
@use "../variables";

%container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @each $breakpoint, $max-width in variables.$container-max-widths {
        @if not map.has-key($map: variables.$container-breakpoints, $key: #{$breakpoint}) {
            @debug "container-breakpoints does not have an entry for #{$breakpoint}, skipping";
        } @else {
            @media (min-width: map.get(variables.$container-breakpoints, #{$breakpoint})) {
                max-width: $max-width;
            }
        }
    }
}

@mixin make-container($max-widths: variables.$container-max-widths, $breakpoints: variables.$container-breakpoints) {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @each $breakpoint, $max-width in $max-widths {
        @if not map.has-key($map: $breakpoints, $key: #{$breakpoint}) {
            @debug "breakpoints map provided does not have an entry for #{$breakpoint}, skipping";
        } @else {
            @media (min-width: map.get($breakpoints, #{$breakpoint})) {
                max-width: $max-width;
            }
        }
    }
}
