@use "sass:map";
@use "../variables";

%dl {
    dt {
        font-weight: variables.$font-weight-bold;
    }

    dd {
        dl,
        p {
            margin-block-end: 0;
        }
    }

    &.row {
        --dt-width: 30%;
        @media (min-width: map.get(variables.$container-breakpoints, "sm")) {
            display: flex;
            flex-wrap: wrap;
            > dt {
                width: var(--dt-width);
                &:has(+ dt) {
                    width: 100%; // override the width if a term has a subsequent term
                }
            }
            > dd {
                margin-inline-start: 0;
                width: calc(100% - var(--dt-width));

                + dd {
                    margin-inline-start: var(--dt-width);
                }
            }
        }
    }
}

@mixin dl($selector: "dl") {
    #{$selector} {
        @extend %dl;
    }
}
