@use "sass:map";
@use "../variables";

@mixin dl($selector: "dl") {
    #{$selector} {
        dt {
            font-weight: var(--font-weight-bold);
        }
        dd {
            dl,
            p {
                margin-block-end: 0;
            }
        }

        &.row {
            --dt-width: 20%; // TODO: Doesn't really need to be a variable, we never change it
            @media (min-width: map.get(variables.$container-breakpoints, "sm")) {
                display: flex;
                flex-wrap: wrap;
                > dt {
                    width: var(--dt-width);
                    // Make this term fill a whole row if it has a subsequent term
                    &:has(+ dt) {
                        width: 100%;
                    }
                }
                > dd {
                    margin-inline-start: 0;
                    width: calc(100% - var(--dt-width));

                    + dd {
                        margin-inline-start: var(--dt-width);
                    }
                }
            }
        }
    }
}
