@mixin details($selector: 'details') {
    #{$selector} {
        border-bottom: var(--component-border);

        > summary {
            padding: var(--component-padding);
            cursor: pointer;
        }

        > :not(summary) {
            margin-bottom: 1em;
        }
    }
}
