@use '../variables';

@mixin details($selector: 'details') {
    #{$selector} {
        border-bottom: var(--border-width) var(--border-style) var(--border-color);

        > summary {
            padding: variables.$padding-default;
            cursor: pointer;
        }

        > :not(summary) {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}
