@mixin forms($selector: 'form') {
    #{$selector} {
        margin: 0;
        border: 0;
        padding: 0;

        fieldset {
            margin: 0 0 1em 0;
            border: 0;
            padding: 0;
        }

        legend {
            margin-bottom: 0.5em;
            font-size: var(--font-size-lg);
        }

        label {
            &:has(+ input, + select, + textarea, + output) {
                margin-inline-end: 1em;
            }
            &:has(> input) {
                display: flex;
                flex-direction: row;
                gap: 1em;
            }
        }

        input,
        select,
        textarea {
            &:has(+ label) {
                margin-inline-end: 1em;
            }
        }

        input[type=checkbox],
        input[type=radio] {
            appearance: none;
            outline: none;

            &::before {
                display: inline-block;
                content: '';
                height: .75em;
                width: .75em;
                border: var(--component-border);
                background-color: var(--theme-white);
                cursor: pointer;
            }
            &:checked::before {
                background-color: var(--theme-primary);
            }
            &:disabled::before {
                background-color: var(--theme-secondary);
                opacity: 0.8;
                cursor: not-allowed;
            }
            &:focus::before,
            &:focus-within::before {
                box-shadow: var(--input-box-shadow);
            }
        }

        input[type=radio] {
            &::before {
                border-radius: 50%;
            }
        }

        input[type=file] {
            &::file-selector-button {
                margin-inline-end: 1em;
                border-width: 0 var(--component-border-width) 0 0;
                padding: var(--component-padding);
                cursor: pointer;
                background-color: var(--theme-secondary);
            }
        }

        input:not([type=checkbox],[type=radio]),
        select,
        textarea {
            outline: none;
            border: var(--component-border);

            &:focus,
            &:focus-within {
                box-shadow: var(--input-box-shadow);
            }
        }

        button[type='reset'],
        button[type='submit'],
        input[type='button'],
        input[type='reset'],
        input[type='submit'] {
            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }
    }
}
