@use '../variables' as variables;

@mixin form-row() {
    display: flex;
    flex-flow: row wrap;
    align-items: first baseline;
    gap: 1em;
    margin-block-end: variables.$default-margin-block-end;

    input[type=range] {
        align-self: stretch;
    }
}

@mixin range-thumb() {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: calc((var(--track-height) - var(--thumb-height)) * .5);
    border: var(--component-border);
    border-radius: 0;
    height: calc(var(--thumb-height) - var(--component-border-width));
    width: var(--thumb-width);
    cursor: pointer;
    background: var(--theme-primary);
}

@mixin forms($selector: 'form', $row-selector: '.form-row') {
    #{$selector} {
        margin: 0;
        border: 0;
        padding: 0;

        fieldset {
            margin: 0 0 1em 0;
            border: 0;
            padding: 0;
        }

        legend {
            margin-bottom: 0.5em;
            font-size: var(--font-size-lg);
        }

        #{$row-selector},
        label:has(> input) {
            @include form-row();
        }

        input[type=radio] {
            &::before {
                border-radius: 50%;
            }
        }

        input[type=checkbox],
        input[type=radio] {
            appearance: none;
            outline: none;

            &::before {
                display: inline-block;
                content: '';
                height: .75em;
                width: .75em;
                border: var(--component-border);
                background-color: var(--theme-white);
                cursor: pointer;
            }
            &:checked::before {
                background-color: var(--theme-primary);
            }
            &:disabled::before {
                background-color: var(--theme-secondary);
                opacity: 0.8;
                cursor: not-allowed;
            }
            &:focus::before,
            &:focus-within::before {
                box-shadow: var(--component-box-shadow);
            }
        }

        input[type=range] {
            --thumb-height: 1.5em;
            --thumb-width: .5em;
            --track-height: .25em;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: transparent;
            outline: none;

            &::-webkit-slider-runnable-track {
                height: var(--track-height);
                border: var(--component-border);
                background: var(--theme-secondary);
            }
            &::-moz-range-track {
                height: var(--track-height);
                border: var(--component-border);
                background: var(--theme-secondary);
            }
            &::-webkit-slider-thumb {
                @include range-thumb();
            }
            &::-moz-range-thumb {
                @include range-thumb();
            }
            &:focus,
            &:focus-within {
                &::-webkit-slider-thumb {
                    box-shadow: var(--component-box-shadow);
                }
                &::-moz-range-thumb {
                    box-shadow: var(--component-box-shadow);
                }
            }
        }

        input[type=file] {
            &::file-selector-button {
                margin-inline-end: 1em;
                border-width: 0 var(--component-border-width) 0 0;
                padding: var(--component-padding);
                cursor: pointer;
                background-color: var(--theme-secondary);
            }
        }

        input:not([type=checkbox],[type=radio],[type=range]),
        select,
        textarea {
            outline: none;
            border: var(--component-border);

            &:focus,
            &:focus-within {
                box-shadow: var(--component-box-shadow);
            }
        }

        button[type='reset'],
        button[type='submit'],
        input[type='button'],
        input[type='reset'],
        input[type='submit'] {
            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }
    }
}
