@use '../variables';

@mixin input-base($selector: "input:not([type='checkbox'], [type='file'], [type='radio'], [type='range'])") {
    #{$selector} {
        outline: none;
        border: var(--border-width) var(--border-style) var(--border-color);

        &:focus,
        &:focus-visible,
        &:focus-within {
            box-shadow: var(--box-shadow-primary);
        }
    }
}

@mixin input-disabled() {
    pointer-events: none;
    color: variables.$gray-70;
}
