@use '../variables';
@use './input-base';

// By declaring these as mixins, they becomes "opt-in" for consuming packages
@mixin input-checkbox($selector: 'input[type="checkbox"]') {
    #{$selector} {
        color: var(--on-surface);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        align-self: center;

        &:disabled {
            @include input-base.input-disabled;
        }

        &::before {
            content: '';
            cursor: pointer;
            height: 1em;
            width: 1em;
            border: var(--border-width) var(--border-style) var(--border-color);
            display: block;
            background: var(--background);
        }

        &:focus::before {
            box-shadow: var(--input-box-shadow);
        }

        &:hover::before {
            --background: var(--primary-variant);
        }

        &:checked::before {
            --background: var(--primary);
        }

        &:checked:hover::before {
            --background: var(--primary-variant);
        }
    }
}
