@use '../variables';

@mixin input-base($selector: "input:not([type='checkbox'], [type='file'], [type='radio'], [type='range'])") {
    #{$selector} {
        outline: none;
        border: variables.$border-default;

        &:focus,
        &:focus-visible,
        &:focus-within {
            box-shadow: var(--primary-box-shadow);
        }
    }
}

@mixin input-disabled() {
    pointer-events: none;
    color: variables.$gray-70;
}
