@use '../variables';
@use './input-base';

@mixin input-radio($selector: 'input[type="radio"]') {
    #{$selector} {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;

        &:disabled {
            @include input-base.input-disabled;
        }

        &::before {
            content: '';
            cursor: pointer;
            height: 0.75rem;
            width: 0.75em;
            border: var(--border-width) var(--border-style) var(--border-color);
            border-radius: 50%;
            display: inline-block;
            background: var(--secondary);
        }

        &:focus::before {
            box-shadow: var(--input-box-shadow);
        }

        &:hover::before {
            background-color: var(--secondary-variant);
        }

        &:checked::before {
            background: var(--primary);
        }

        &:checked:hover::before {
            background: var(--primary-variant);
        }
    }
}