@use '../variables';

@mixin input-file($selector: "input[type='file']") {
    #{$selector} {
        border: var(--border-width) var(--border-style) var(--border-color);
        outline: none;

        &:focus {
            box-shadow: var(--box-shadow-primary);
        }

        &::file-selector-button {
            min-height: 2.375em;
            padding: 0.375em 0.75em;
            cursor: pointer;
            border-width: 0 var(--border-width) 0 0;
            margin-right: 1em;
        }
    }
}
