@use "../variables" as *;
@use "./containers";
@use "./flex";

%navbar-theme {
    background-color: $black;
    color: $white;
}

%root {
    @include flex.make-flex($flex-direction: column);
    min-height: 100vh;
}

@mixin make-root($selector) {
	#{$selector} {
		@extend %root;
	}
}