@mixin popovers() {
    @include popover-auto('[popover]');
    @include popover-manual('[popover="manual"]');
    @include dialog('dialog');
    @include dialog-any('dialog[closedby=any]');
}

@mixin popover-style {
    border: var(--surface-border);
    padding: var(--surface-padding);
    background-color: var(--surface-background);
    box-shadow: var(--surface-box-shadow);
    form {
        margin-bottom: 0;
    }
}

@mixin popover-auto($selector: '[popover],[popover=auto]') {
    #{$selector} {
        @include popover-style;
    }
}

@mixin popover-manual($selector: 'dialog,[popover=manual]') {
    #{$selector} {
        &::backdrop {
            background: rgba(0, 0, 0, 0.2);
        }
    }
}

@mixin dialog($selector: 'dialog') {
    #{$selector} {
        @include popover-style;
    }
}

@mixin dialog-any($selector: 'dialog[closedby=any]') {
    #{$selector} {
        &::backdrop {
            background: transparent;
        }
    }
}