%select {
    min-height: 2.375em;
    padding: 0.375em 1.5em 0.375em 0.75em;
    outline: none;

    &:focus,
    &:focus-visible,
    &:focus-within {
        box-shadow: var(--input-box-shadow);
    }
}

@mixin select($selector: 'select') {
    #{$selector} {
        min-height: 2.375em;
        padding: 0.375em 1.5em 0.375em 0.75em;
        outline: none;

        &:focus,
        &:focus-visible,
        &:focus-within {
            box-shadow: var(--input-box-shadow);
        }
    }
}
