@mixin table($selector: 'table', $wrapper-selector: '.table-wrapper') {
    @if $wrapper-selector {
        #{$wrapper-selector} {
            display: block;
            overflow-x: auto;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    }

    #{$selector} {
        border-collapse: collapse;

        th,
        td {
            border-bottom: var(--component-border);
            padding: var(--component-padding);
        }
    }
}