@use '../variables';

@mixin toggle($selector: '.toggle') {
    #{$selector} {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;
        user-select: none;
    }

    #{$selector} input[type='checkbox'] {
        --toggle-height: 2em;
        --padding: 0.125em;
        --indicator-size: calc(var(--toggle-height) - var(--padding) * 2 - var(--border-width) * 2);
        --toggle-width: calc(var(--indicator-size) * 2 + var(--padding) * 2 + var(--border-width) * 2);
        cursor: pointer;
        height: var(--toggle-height);
        width: var(--toggle-width);
        padding: var(--padding);
        border: var(--border-width) var(--border-style) var(--border-color);
        transition: 0.1s linear background-color;

        // Resolve conflict between this and _input-checkbox.scss
        &:focus::before {
            box-shadow: none;
        }

        &:focus {
            box-shadow: var(--input-box-shadow);
        }
    }

    #{$selector} input::before {
        --background: var(--secondary);
        width: var(--indicator-size);
        height: var(--indicator-size);
        transition: 0.1s linear transform;
        transform: translateX(0);
    }

    #{$selector} input:checked::before {
        transform: translateX(
            calc(var(--toggle-width) - var(--indicator-size) - var(--padding) * 2 - var(--border-width) * 2)
        );
    }
}
