@use '../variables';

@mixin tooltip($selector: 'data-tooltip') {
    [#{$selector}] {
        position: relative; // making the .tooltip span a container for the tooltip text
        border-bottom: var(--theme-border-width) dashed var(--theme-border-color); // little indicater to indicate it's hoverable
    }
    [#{$selector}]:before {
        display: none; // hide by default
        content: attr(#{$selector}); // here's the magic
        position: absolute;
        z-index: 10;
        // Position the tooltip below the original element
        top: 125%;
        left: 100%;
        // basic styles
        width: max-content;
        max-width: calc(100dvw - 3rem);
        border: var(--theme-border-width) var(--theme-border-style) var(--theme-border-color);
        padding: variables.$padding-default;
        background-color: var(--theme-background);
        color: var(--theme-on-background);
        box-shadow: var(--theme-surface-box-shadow);
    }
    [#{$selector}]:hover:before {
        display: block;
    }
}
