@use '../variables';

@mixin dialog($selector: 'dialog') {
    #{$selector} {
        border: variables.$border-default;
        padding: variables.$padding-default;

        form {
            margin-bottom: 0;
        }
    }
}