@mixin form($selector: 'form') {
    #{$selector} {
        margin: 0;
        border: 0;
        padding: 0;

        // > fieldset {
        //     margin: 0 0 1rem 0;
        //     border: 0;
        //     padding: 0;
        // }

        // > legend {
        //     margin-bottom: 0.5em;
        //     font-size: 1.5em;
        // }

        // > label {
        //     display: block;
        //     margin-bottom: 0.25em;
        //     cursor: pointer;
        // }

        button[type='reset'],
        button[type='submit'],
        input[type='button'],
        input[type='reset'],
        input[type='submit'] {
            padding: 0.375em 0.75em;
            color: inherit;
            border: 1px solid currentColor;
            cursor: pointer;

            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }

        // input:not([type='color'], [type='checkbox'], [type='radio'], [type='range']) {
        //     height: 2.375em;
        //     padding: 0.375em 0.75em;
        // }

        textarea {
            width: 100%;
        }
    }
}
