@use '../variables';

// By declaring this as an placeholder, this becomes "opt-in" for consuming packages
%input-checkbox-wrapper {
    
        font-family: system-ui, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 1.1;
        display: grid;
        grid-template-columns: 1em auto;
        gap: 0.5em;

    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        appearance: none;
        display: grid;
        place-content: center;
        /* For iOS < 15 to remove gradient background */
        background-color: #fff;
        /* Not removed via appearance */
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 1px solid currentColor;
        // transform: translateY(-0.075em);
      }

      input[type="checkbox"]::before {
        content: "";
        width: 1em;
        height: 1em;
        transform: scale(0);
        // transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--color-primary);
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }
}
