@use '../variables';

%input-text {
    outline: none;
    border: 1px solid currentColor;

    &:focus,
    &:focus-visible,
    &:focus-within {
        box-shadow: var(--theme-box-shadow);
    }
}
