@use '../variables';
@use './input-checkbox-or-radio' as parent;

// By declaring this as an placeholder, this becomes "opt-in" for consuming packages
%input-radio {
    @include parent.input-checkbox-or-radio;

    // Box.
    & + label:before {
        border-radius: 50%;
        width: 1em;
        height: 1em;
    }
}
