@use '../variables';

// By declaring this as an placeholder, this becomes "opt-in" for consuming packages
%input-checkbox-wrapper {
    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox'] + label {
        display: flex;
        column-gap: 1em;
        margin-bottom: 0.25rem;
        width: fit-content;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            height: 1.2em;
            width: 1.2em;
            line-height: 1em;
            border: 1px solid currentColor;
            background-color: var(--color-secondary);
            align-self: center;
        }
        

        &:hover::before {
            background-color: var(--color-secondary-dark);
        }
    }

    input[type='checkbox']:checked + label {

        &::before {
            content: '\2714';
            text-align: center;
            background-color: var(--color-primary);
        }

        &:hover::before {
            background-color: var(--color-primary-light);
        }
    }
}
