@use '../variables';
@use './input-base';

%input-radio-replacement {
    content: '';
    cursor: pointer;
    height: 0.75rem;
    width: 0.75em;
    border: 1px solid currentColor;
    border-radius: 50%;
    display: inline-block;
    background: var(--color-secondary);
}

%input-radio {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;

    &:disabled {
        @extend %input-disabled;
    }

    &::before {
        @extend %input-radio-replacement;
    }

    &:focus::before {
        box-shadow: var(--theme-box-shadow);
    }

    &:hover::before {
        background-color: var(--color-secondary-dark);
    }

    &:checked::before {
        background: var(--color-primary);
    }

    &:checked:hover::before {
        background: var(--color-primary-light);
    }
}
