@use '../variables';

%input-base {
    // display: block;
    outline: none;
    border: 1px solid currentColor;

    &:focus,
    &:focus-visible,
    &:focus-within {
        box-shadow: var(--theme-box-shadow);
    }
}

%input-disabled {
    pointer-events: none;
    color: variables.$gray-70;
}
