@use './input-base';
@use './input-radio';

@mixin label {
    label {
        cursor: pointer;
    }

    // Start Vertical
    label:not(.horizontal):has(+ input, + select) {
        display: block;
        margin-bottom: 0.25em;
    }

    label:not(.horizontal):has(> input, > select) {
        display: flex;
        flex-direction: column;
        row-gap: 0.25em;
    }
    // End Vertical

    // Start Horizontal
    label.horizontal:has(+ input, + select) {
        display: inline;
        margin-right: 0.5em;
    }

    label.horizontal:has(> input, > select) {
        display: flex;
        flex-direction: row;
        column-gap: 0.5em;
    }
    // End Horizontal

    input[disabled] + label,
    select[disabled] + label,
    label:has(+ input[disabled], > input[disabled], + select[disabled], > select[disabled]) {
        @extend %input-disabled;
    }
}
