@use '../variables' as variables;

// Mostly following the styles from this blog post,
// as I also want to keep this as un-opinionated as possible.
// https://keithjgrant.com/posts/2024/01/my-css-resets/
@mixin reset() {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body {
        margin: unset;
    }

    p,
    ol,
    ul,
    dl,
    pre {
        margin-block: 0 variables.$default-margin;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-block: 0 variables.$default-margin;
        line-height: variables.$line-height;
    }

    ol ol,
    ul ul,
    ol ul,
    ul ol {
        margin: 0;
    }

    button,
    input,
    optgroup,
    textarea,
    select {
        margin: 0;
        font: inherit;
    }

    img,
    picture,
    svg,
    canvas {
        display: block;
        max-inline-size: 100%;
        block-size: auto;
    }

    [type=button], [type=reset], [type=submit], button {
        --webkit-appearance: button;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        *::before,
        *::after {
            animation-duration: 0.01ms;
            animation-iteration-count: 1;
            transition-duration: 0.01ms;
            scroll-behavior: auto;
        }
    }
}
