@use '../variables';
@use "./box_shadow";
// @use "./dark_mode";

// This is what Material UI calls a "Card" or a "Paper" surface.
// It's designed to stand out against the background by putting a border and box shadow around the content,
// as well as use high contrast background and foreground colors to make content legible.
@mixin cards($selector: '.card', $margin-bottom: 1rem, $border: variables.$default-border, $padding: variables.$default-padding, $background-color: variables.$white, $color: variables.$dark, $box-shadow-value: variables.$default-box-shadow) {
	#{$selector} {
		margin-bottom: $margin-bottom;
		border: $border;
		padding: $padding;
		background-color: $background-color;
		color: $color;
		@include box_shadow.box-shadow;
	}
	// @include dark_mode.top-layer($selector);
}
