%dialog {
	padding: 1rem;
	form {
		margin-bottom: 0;
	}
}

%modal-dialog {
	@extend %dialog;
	&::backdrop {
		background: rgba(0, 0, 0, 0.1);
	}
}

@mixin dialogs {
	dialog,
	[popover="manual"] {
		@extend %modal-dialog;
	}

	[popover],
	[popover="auto"] {
		@extend %dialog;
	}
}