@mixin hover-color($color, $background-color: $color, $cursor: pointer) {
    &:hover {
        color: $color;
        background-color: $background-color;
        cursor: $cursor;
    }
}

@mixin invert-colors() {
	background-color: $foreground-color;
	color: $background-color;
}