@use "../configuration" as *;
@use "../variables" as *;
@use "./box_shadow";
@use "./dark_mode";

@mixin make-abbr($selector: 'abbr') {
	#{$selector} {
		text-decoration-line: none;
		border-bottom: 1px dotted currentColor;
		cursor: help;
	}
}

@mixin make-tooltips($selector: 'data-title') {
	[#{$selector}] {
		position:relative; /* making the .tooltip span a container for the tooltip text */
		border-bottom:1px dashed currentColor; /* little indicater to indicate it's hoverable */
	}
	[#{$selector}]:before {
		content: attr(#{$selector}); /* here's the magic */
		position:absolute;
		z-index: 10;
		// Position the tooltip below the original element
		top: 125%;
		display:none; /* hide by default */
		/* basic styles */
		width: max-content;
		max-width: calc(100dvw - 3rem);
		border: 1px solid currentColor;
		padding: 0.375em 0.75em;
		background-color: $white;
		@include box_shadow.box-shadow();
	}
	[#{$selector}]:hover:before {
		display:block;
	}
	@include dark_mode.top-layer('[#{$selector}]:before');
}