@use '../variables';

#{variables.$dark-mode-selector} {
    --btn-background-color: #{variables.$button-background-color};
    --btn-background-color-active: #{variables.$gray-600};
    --btn-background-color-hover: #{variables.$gray-700};
    --btn-border-color: #{variables.$button-border-color};
    --btn-border-color-active: #{variables.$button-border-color-active};
    --btn-border-color-hover: #{variables.$button-border-color-hover};
    --btn-border-width: #{variables.$button-border-width};
    --btn-color: #{variables.$button-color};
    --btn-color-active: #{variables.$button-color};
    --btn-color-hover: #{variables.$button-color};

    background-color: #{variables.$gray-900};
    color: #{variables.$light};
}
