@use '../variables';

%dark-mode-root {
    --btn-background-color: #{variables.$button-background-color};
    --btn-background-color-active: #{variables.$gray-40};
    --btn-background-color-hover: #{variables.$gray-30};
    --btn-border-color: #{variables.$button-border-color};
    --btn-border-width: #{variables.$button-border-width};
    --btn-color: #{variables.$button-color};
    --color-dark: #{variables.$dark};
    --color-light: #{variables.$light};
    --color-primary: #{variables.$primary};
    --color-primary-light: #{variables.$primary-light};
    --color-secondary: #{variables.$gray-60};
    --color-secondary-dark: #{variables.$gray-50};
    --color-secondary-light: #{variables.$secondary-light};
    --theme-box-shadow: #{variables.$input-range-thumb-focus-box-shadow};
    --card-background-color: #{variables.$gray-30};
    --card-box-shadow: 0.25rem 0.25rem 0.25rem 0rem #{variables.$gray-70};

    background-color: #{variables.$gray-10};
    color: #{variables.$light};
}
