@use '../variables';

#{variables.$light-mode-selector} {
    --btn-background-color: #{variables.$button-background-color};
    --btn-background-color-active: #{variables.$gray-300};
    --btn-background-color-hover: #{variables.$gray-200};
    --btn-border-color: #{variables.$button-border-color};
    --btn-border-width: #{variables.$button-border-width};
    --btn-color: #{variables.$button-color};
}
