.wrapper {
    display: flex;
    min-height: 25vh;

    > * {
        flex: 1 1 auto;
    }
}

.root {
    display: flex;
    align-items: center;
    justify-content: center;

    // padding-top: 2rem;
    // padding-bottom: 2rem;
}

#storybook-root {
    margin: 0;
    padding: 0;
    width: 100%;

    & > .wrapper {
        min-height: 100vh;
    }
}

.docs-story {
    > div {
        display: block;
        padding: 0;
    }

    .innerZoomElementWrapper > div {
        border: 0 !important;
    }
}
