@layer reset, layout, components, theme;
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/OpenSans.ttf") format("truetype");
  font-display: swap;
}
@layer reset {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  body {
    margin: unset;
  }
  button,
  input,
  optgroup,
  textarea,
  select {
    margin: 0;
    font: inherit;
  }
  img,
  picture,
  svg,
  canvas {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  p,
  ol,
  ul,
  dl {
    margin-block-start: 0;
    margin-block-end: 1em;
  }
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-block-end: 0;
  }
  [type=button], [type=reset], [type=submit], button {
    --webkit-appearance: button;
  }
}
@layer layout {
  .root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 0;
    text-align: start;
    line-height: 1.5;
  }
  .root > header {
    margin-block-end: 1.5rem;
  }
  .root > header nav {
    padding: 0.5rem 0.75rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }
  .root > header nav div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 1rem;
  }
  .root > main {
    margin-block-end: 1.5rem;
    padding-inline: 0.75rem;
  }
  .root > footer {
    margin-top: auto;
    padding: 0.5rem 0.75rem;
    text-align: center;
  }
  .root > header nav,
  .root main {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  @media (min-width: 576px) {
    .root > header nav,
    .root main {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .root > header nav,
    .root main {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .root > header nav,
    .root main {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .root > header nav,
    .root main {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .root > header nav,
    .root main {
      max-width: 1320px;
    }
  }
  @media (min-width: 1600px) {
    .root > header nav,
    .root main {
      max-width: 1500px;
    }
  }
  @media (min-width: 1920px) {
    .root > header nav,
    .root main {
      max-width: 1800px;
    }
  }
}
@layer components {
  abbr,
  [data-abbr-selector] {
    text-decoration-line: none;
    border-bottom: var(--component-border);
    border-bottom-style: dotted;
    cursor: help;
  }
  [data-abbr] {
    position: relative;
  }
  [data-abbr]:before {
    display: none;
    content: attr(data-abbr);
    position: absolute;
    z-index: 10;
    top: 125%;
    left: 100%;
    width: max-content;
    max-width: calc(100dvw - 3rem);
    border: var(--component-border);
    padding: var(--component-padding);
    box-shadow: var(--surface-box-shadow);
  }
  [data-abbr]:hover:before {
    display: block;
  }
  a:link {
    color: var(--theme-link);
  }
  a.visited, a:visited {
    color: var(--theme-link-visited);
  }
  a.active, a:active {
    color: var(--theme-link-active);
  }
  button, a[role=button]:any-link, [type=button], [type=submit], [type=reset] {
    --component-background: transparent;
    border: var(--component-border);
    padding: var(--component-padding);
    font-size: var(--font-size-normal);
    background-color: var(--component-background);
    color: var(--component-color);
    cursor: pointer;
    text-decoration: none;
  }
  .btn-lg {
    font-size: var(--font-size-large);
    padding: var(--component-padding-large);
  }
  .btn-sm {
    font-size: var(--font-size-small);
    padding: var(--component-padding-small);
  }
  .card {
    margin-block-end: 1em;
    border: var(--surface-border);
    padding: var(--surface-padding);
    background-color: var(--surface-background);
    box-shadow: var(--surface-box-shadow);
  }
  pre,
  code {
    background: var(--component-background);
    color: var(--component-color);
  }
  pre {
    padding: var(--component-padding-large);
    overflow: auto;
  }
  :not(pre) > code {
    display: inline-block;
    height: 100%;
    padding-inline: var(--component-padding-inline);
  }
  dl dt {
    font-weight: var(--font-weight-bold);
  }
  dl dd dl,
  dl dd p {
    margin-block-end: 0;
  }
  dl.row {
    --dt-width: 20%;
  }
  @media (min-width: 576px) {
    dl.row {
      display: flex;
      flex-wrap: wrap;
    }
    dl.row > dt {
      width: var(--dt-width);
    }
    dl.row > dt:has(+ dt) {
      width: 100%;
    }
    dl.row > dd {
      margin-inline-start: 0;
      width: calc(100% - var(--dt-width));
    }
    dl.row > dd + dd {
      margin-inline-start: var(--dt-width);
    }
  }
  details {
    border-bottom: var(--component-border);
  }
  details > summary {
    padding: var(--component-padding);
    cursor: pointer;
  }
  details > :not(summary) {
    margin-bottom: 1em;
  }
  form {
    margin: 0;
    border: 0;
    padding: 0;
  }
  form fieldset {
    margin: 0 0 1em 0;
    border: 0;
    padding: 0;
  }
  form legend {
    margin-bottom: 0.5em;
    font-size: var(--font-size-lg);
  }
  form .form-row,
  form label:has(> input) {
    display: flex;
    flex-flow: row wrap;
    align-items: first baseline;
    gap: 1em;
    margin-block-end: 1em;
  }
  form .form-row input[type=range],
  form label:has(> input) input[type=range] {
    align-self: stretch;
  }
  form input[type=radio]::before {
    border-radius: 50%;
  }
  form input[type=checkbox],
  form input[type=radio] {
    appearance: none;
    outline: none;
  }
  form input[type=checkbox]::before,
  form input[type=radio]::before {
    display: inline-block;
    content: "";
    height: 0.75em;
    width: 0.75em;
    border: var(--component-border);
    background-color: var(--theme-white);
    cursor: pointer;
  }
  form input[type=checkbox]:checked::before,
  form input[type=radio]:checked::before {
    background-color: var(--theme-primary);
  }
  form input[type=checkbox]:disabled::before,
  form input[type=radio]:disabled::before {
    background-color: var(--theme-secondary);
    opacity: 0.8;
    cursor: not-allowed;
  }
  form input[type=checkbox]:focus::before, form input[type=checkbox]:focus-within::before,
  form input[type=radio]:focus::before,
  form input[type=radio]:focus-within::before {
    box-shadow: var(--component-box-shadow);
  }
  form input[type=range] {
    --thumb-height: 1.5em;
    --thumb-width: .5em;
    --track-height: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
  }
  form input[type=range]::-webkit-slider-runnable-track {
    height: var(--track-height);
    border: var(--component-border);
    background: var(--theme-secondary);
  }
  form input[type=range]::-moz-range-track {
    height: var(--track-height);
    border: var(--component-border);
    background: var(--theme-secondary);
  }
  form input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: calc((var(--track-height) - var(--thumb-height)) * 0.5);
    border: var(--component-border);
    border-radius: 0;
    height: calc(var(--thumb-height) - var(--component-border-width));
    width: var(--thumb-width);
    cursor: pointer;
    background: var(--theme-primary);
  }
  form input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: calc((var(--track-height) - var(--thumb-height)) * 0.5);
    border: var(--component-border);
    border-radius: 0;
    height: calc(var(--thumb-height) - var(--component-border-width));
    width: var(--thumb-width);
    cursor: pointer;
    background: var(--theme-primary);
  }
  form input[type=range]:focus::-webkit-slider-thumb, form input[type=range]:focus-within::-webkit-slider-thumb {
    box-shadow: var(--component-box-shadow);
  }
  form input[type=range]:focus::-moz-range-thumb, form input[type=range]:focus-within::-moz-range-thumb {
    box-shadow: var(--component-box-shadow);
  }
  form input[type=file]::file-selector-button {
    margin-inline-end: 1em;
    border-width: 0 var(--component-border-width) 0 0;
    padding: var(--component-padding);
    cursor: pointer;
    background-color: var(--theme-secondary);
  }
  form input:not([type=checkbox], [type=radio], [type=range]),
  form select,
  form textarea {
    outline: none;
    border: var(--component-border);
  }
  form input:not([type=checkbox], [type=radio], [type=range]):focus, form input:not([type=checkbox], [type=radio], [type=range]):focus-within,
  form select:focus,
  form select:focus-within,
  form textarea:focus,
  form textarea:focus-within {
    box-shadow: var(--component-box-shadow);
  }
  form button[type=reset]:disabled,
  form button[type=submit]:disabled,
  form input[type=button]:disabled,
  form input[type=reset]:disabled,
  form input[type=submit]:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
  [popover] {
    border: var(--surface-border);
    padding: var(--surface-padding);
  }
  [popover] form {
    margin-bottom: 0;
  }
  [popover=manual]::backdrop {
    background: rgba(0, 0, 0, 0.2);
  }
  dialog {
    border: var(--surface-border);
    padding: var(--surface-padding);
  }
  dialog form {
    margin-bottom: 0;
  }
  dialog[closedby=any]::backdrop {
    background: transparent;
  }
  .switch {
    display: flex;
    max-width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 0.75em;
    cursor: pointer;
  }
  .switch input[type=checkbox] {
    --component-height: 1.5em;
    --component-padding: 2px;
    --indicator-size: calc(var(--component-height) - var(--component-padding) * 2 - var(--component-border-width) * 2);
    --component-width: calc(var(--indicator-size) * 2 + var(--component-padding) * 2 + var(--component-border-width) * 2);
    appearance: none;
    height: var(--component-height);
    width: var(--component-width);
    border: var(--component-border);
    padding: var(--component-padding);
    background-color: var(--theme-secondary);
    cursor: pointer;
  }
  .switch input[type=checkbox]::before {
    content: "";
    display: block;
    height: var(--indicator-size);
    width: var(--indicator-size);
    border: var(--component-border);
    background-color: var(--theme-white);
    transition: 0.1s linear transform;
  }
  .switch input[type=checkbox]:checked {
    background-color: var(--theme-primary);
  }
  .switch input[type=checkbox]:checked::before {
    transform: translateX(calc(var(--component-width) - var(--indicator-size) - var(--component-padding) * 2 - var(--component-border-width) * 2));
  }
  .table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  table {
    border-collapse: collapse;
  }
  table th,
  table td {
    border-bottom: var(--component-border);
    padding: var(--component-padding);
  }
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  [data-title] {
    position: relative;
  }
  [data-title]:before {
    display: none;
    content: attr(data-title);
    position: absolute;
    z-index: 10;
    top: 125%;
    left: 100%;
    width: max-content;
    max-width: calc(100dvw - 3rem);
    border: var(--component-border);
    padding: var(--component-padding);
    box-shadow: var(--surface-box-shadow);
  }
  [data-title]:hover:before {
    display: block;
  }
}
@layer theme {
  :root {
    --font-size-normal: 1rem;
    --font-size-large: 1.25rem;
    --font-size-small: 0.875rem;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --surface-border: 2px solid currentColor;
    --surface-padding: 1em;
    --component-color: currentColor;
    --component-border-width: 1px;
    --component-border: var(--component-border-width) solid currentColor;
    --component-padding-inline: 0.375em;
    --component-padding-block: 0.75em;
    --component-padding: 0.375em 0.75em;
    --component-padding-large: 0.5em 1em;
    --component-padding-small: 0.25em 0.5em;
    --theme-primary: #ff9933;
    --theme-secondary: #cccccc;
    --theme-white: #ffffff;
    --theme-black: #000000;
    accent-color: var(--theme-primary);
    color-scheme: light dark;
  }
  .root {
    background-color: var(--page-background);
    color: var(--page-color);
    font-family: "Open Sans", "Segoe UI", "Roboto", "Fira Sans", "Helvetica Neue", sans-serif;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
  }
  .root > header,
  .root footer {
    background: var(--page-background-inverse);
    color: var(--page-color-inverse);
  }
  .root > header a:any-link,
  .root footer a:any-link {
    color: var(--page-color-inverse);
    text-decoration: none;
  }
  .root > header a.brand {
    /** TODO: The top three shouldn't be included for every page **/
    background: linear-gradient(#ff8000, #ffb366, #ffe6cc, #ffb366, #ff8000);
    background-clip: text;
    color: transparent;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-large);
  }
  .root.light {
    --page-background: #ffffff;
    --page-color: #000000;
    --page-background-inverse: #000000;
    --page-color-inverse: #ffffff;
    --surface-background: #e6e6e6;
    --surface-box-shadow: 0.25rem 0.25rem 0.25rem 0rem #b3b3b3;
    --component-background: #cccccc;
    --component-box-shadow: 0 0 0.05rem 0.05rem var(--theme-white), 0 0 0.25rem 0.25rem var(--theme-primary);
    --theme-link: #0066cc;
    --theme-link-visited: #8000ff;
    --theme-link-active: #cc0000;
  }
  .root.dark {
    --page-background: #333333;
    --page-color: #ffffff;
    --page-background-inverse: #000000;
    --page-color-inverse: #ffffff;
    --surface-background: #4d4d4d;
    --surface-box-shadow: 0.25em 0.25em 0.25em 0rem #808080;
    --component-background: #4d4d4d;
    --component-box-shadow: 0 0 0.05em 0.05em var(--theme-white), 0 0 0.25em 0.25em var(--theme-primary);
    --theme-link: #3399ff;
    --theme-link-visited: #cc99ff;
    --theme-link-active: #ff3333;
  }
  .btn-primary {
    --component-background: #ff9933;
  }
  .btn-secondary {
    --component-background: #b3b3b3;
  }
  .btn-info {
    --component-background: #33ffff;
  }
  .btn-success {
    --component-background: #33ff33;
  }
  .btn-danger {
    --component-background: #ff3333;
  }
  .btn-red {
    --component-background: #ff3333;
  }
  .btn-orange {
    --component-background: #ff9933;
  }
  .btn-yellow {
    --component-background: #ffff33;
  }
  .btn-green {
    --component-background: #33ff33;
  }
  .btn-teal {
    --component-background: #33ff99;
  }
  .btn-cyan {
    --component-background: #33ffff;
  }
  .btn-blue {
    --component-background: #3399ff;
  }
  .btn-indigo {
    --component-background: #6633ff;
  }
  .btn-violet {
    --component-background: #9933ff;
  }
  .btn-pink {
    --component-background: #ff33ff;
  }
  .btn-primary-inverted {
    --component-color: #ff9933;
    --component-border-color: #ff9933;
  }
  .btn-secondary-inverted {
    --component-color: #b3b3b3;
    --component-border-color: #b3b3b3;
  }
  .btn-info-inverted {
    --component-color: #33ffff;
    --component-border-color: #33ffff;
  }
  .btn-success-inverted {
    --component-color: #33ff33;
    --component-border-color: #33ff33;
  }
  .btn-danger-inverted {
    --component-color: #ff3333;
    --component-border-color: #ff3333;
  }
  .btn-red-inverted {
    --component-color: #ff3333;
    --component-border-color: #ff3333;
  }
  .btn-orange-inverted {
    --component-color: #ff9933;
    --component-border-color: #ff9933;
  }
  .btn-yellow-inverted {
    --component-color: #ffff33;
    --component-border-color: #ffff33;
  }
  .btn-green-inverted {
    --component-color: #33ff33;
    --component-border-color: #33ff33;
  }
  .btn-teal-inverted {
    --component-color: #33ff99;
    --component-border-color: #33ff99;
  }
  .btn-cyan-inverted {
    --component-color: #33ffff;
    --component-border-color: #33ffff;
  }
  .btn-blue-inverted {
    --component-color: #3399ff;
    --component-border-color: #3399ff;
  }
  .btn-indigo-inverted {
    --component-color: #6633ff;
    --component-border-color: #6633ff;
  }
  .btn-violet-inverted {
    --component-color: #9933ff;
    --component-border-color: #9933ff;
  }
  .btn-pink-inverted {
    --component-color: #ff33ff;
    --component-border-color: #ff33ff;
  }
}
/** EVERYTHING ABOVE HERE SHOULD BE THE 'DEFAULT' **/
/** EVERYTHING BELOW IS JUST TO HELP MAKE THE STYLE TEST PAGE LOOK BETTER **/
.button-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 1rem;
  margin-bottom: 0.5rem;
  justify-items: center;
  align-items: center;
}