@use 'sass:meta';
@use '../../../sass';

@layer reset, layout, components, theme;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/OpenSans.ttf') format('truetype');
    font-display: swap;
}

@layer reset {
    @include sass.reset;
}

@layer layout {
    .root {
        @include sass.root-layout;
    }
}

@layer components {
    @include sass.components;
}

@layer theme {
    :root {
        @include sass.root-variables;
    }
    .root {
        @include sass.root-layout-themed;
        &.light {
            @include sass.root-variables-light;
        }
        &.dark {
            @include sass.root-variables-dark;
        }
    }
    @include sass.buttons-themed;
    @include sass.buttons-themed-inverted;
}

/** EVERYTHING ABOVE HERE SHOULD BE THE 'DEFAULT' **/
/** EVERYTHING BELOW IS JUST TO HELP MAKE THE STYLE TEST PAGE LOOK BETTER **/

.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    margin-bottom: .5rem;
    justify-items: center;
    align-items: center;
}

.rating {
    font-size: 3rem;
    max-width: 5em;
}

// .text-truncate {
//     @include text-truncate;
// }

// pre {
//     background: $gray-20;
//     color: $gray-90;
//     padding: 1em;
// }
