@use 'sass:meta';
@use '../../../sass';

@layer reset, components, theme;

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/OpenSans.ttf') format('truetype');
    font-display: swap;
}

@layer reset {
    @include sass.reset;
}

@layer components {
    @include sass.components;
}

@layer theme {
    .root {
        @include sass.theme-layout-root;
        &.dark {
            @include sass.theme-dark-mode-variables;
        }
        &.light {
            @include sass.theme-light-mode-variables;
        }
    }
    @include sass.buttons-themed;
}

/** EVERYTHING ABOVE HERE SHOULD BE THE 'DEFAULT' **/
/** EVERYTHING BELOW IS JUST TO HELP MAKE THE STYLE TEST PAGE LOOK BETTER **/

.button-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
    margin-bottom: .5rem;
    justify-items: center;
    align-items: center;
}

// .rating {
//     // Add some custom style specific to Storybutton
//     font-size: $font-size-xl;
//     min-width: 10em;

//     @extend %rating;
// }

// .text-truncate {
//     @include text-truncate;
// }

// pre {
//     background: $gray-20;
//     color: $gray-90;
//     padding: 1em;
// }
