@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/OpenSans.ttf') format('truetype');
    font-display: swap;
}

$layout-root-selector: '.root';
$dark-mode-selector: '.root.dark';
$light-mode-selector: '.root.light';

@import './library';

@include reset();

#{$layout-root-selector} {
    font-family: $font-family-sans-serif;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    text-align: start;
}

@include inputs;
@include form;
@include label;
@include select;
@include buttons;
@include cards;
@include dialog;