@use './library.scss';

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/OpenSans.ttf') format('truetype');
    font-display: swap;
}

@include library.reset;
@include library.buttons;

.btn-large {
    @extend %btn-large;
}

.btn-small {
    @extend %btn-small;
}

.root {
    font-family: library.$font-family-sans-serif;
    font-size: library.$font-size-base;
    font-weight: library.$font-weight-normal;
    line-height: library.$line-height-base;
    text-align: start;

    // TODO: Make a real dark-mode
    &.dark {
        background-color: #333;
    }
}
