@use "../variables";

%dark-mode-variables {
    --primary: #{variables.$orange-60};
    --primary-variant: #{variables.$orange-40};
    --on-primary: #{variables.$dark};

    --secondary: #{variables.$gray-50};
    --secondary-variant: #{variables.$gray-40};
    --on-secondary: #{variables.$dark};

    --background: #{variables.$gray-10};
    --on-background: #{variables.$light};

    --surface: #{variables.$gray-20};
    --surface-box-shadow: #{variables.$surface-box-shadow};
    --on-surface: #{variables.$light};

    --border-width: 1px;
    --border-style: solid;
    --border-color: currentColor;

    --input-box-shadow: #{variables.$input-box-shadow};
}

@mixin dark-mode-variables {
    @extend %dark-mode-variables;
}
