@use "../utils/variables" as *;

@mixin default-theme(
		$root-selector: $layout-root-selector,
		$header-selector: $layout-header-selector,
		$header-title-selector: $layout-header-title-selector,
		$main-selector: $layout-main-selector,
		$footer-selector: $layout-footer-selector) {
	#{$root-selector} {
		font-family:$font-family-sans-serif;
		font-size: $font-size-base;
		font-weight: $font-weight-normal;
		line-height: $line-height-base;
		text-align: start;

		& > #{$header-selector} {
			background-color: $black;
			color: $white;

			a {
				color: inherit;
				text-decoration: none;
			}

			button {
				border-color: transparent;
			}

			#{$header-title-selector} {
				font-weight: $font-weight-bold; 
				font-size: $font-size-lg;
			}
		}

		& > #{$footer-selector} {
			background-color: $black;
			color: $white;
		}
	}
}