@use '../variables' as *;
@use '../components';
@use '../layout-utilities';

@mixin root-variables {
    --font-size: #{$font-size};
    --font-size-lg: #{$font-size-lg};
    --font-size-sm: #{$font-size-sm};
    --font-size-xl: #{$font-size-xl};
    --font-weight: #{$font-weight};
    --font-weight-bold: #{$font-weight-bold};

    --border-color: #{$default-border-color};
    --border-style: #{$default-border-style};
    --margin: #{$default-margin};

    --component-color: #{$component-color};
    --component-border-width: #{$component-border-width};
    --component-border: var(--component-border-width) var(--border-style) var(--border-color);
    --component-padding-inline: #{$component-padding-inline};
    --component-padding-block: #{$component-padding-block};
    --component-padding: var(--component-padding-block) var(--component-padding-inline);
    --component-padding-lg: #{$component-padding-lg};
    --component-padding-sm: #{$component-padding-sm};
    --component-padding-wide: #{$component-padding-wide};

    --surface-margin: var(--margin);
    --surface-border-width: #{$surface-border-width};
    --surface-border: var(--surface-border-width) var(--border-style) var(--border-color);
    --surface-padding: #{$surface-padding};

    // START THEME COLORS
    --black: #{$black};
    --gray-10: #{$gray-10};
    --gray-20: #{$gray-20};
    --gray-30: #{$gray-30};
    --gray-40: #{$gray-40};
    --gray-50: #{$gray-50};
    --gray-60: #{$gray-60};
    --gray-70: #{$gray-70};
    --gray-80: #{$gray-80};
    --gray-90: #{$gray-90};
    --white: #{$white};
    --component-background: light-dark(var(--gray-80), var(--gray-30));
    --component-box-shadow: 0 0 0.05rem 0.05rem var(--white), 0 0 0.25rem 0.25rem var(--theme-primary);
    --link: light-dark(#{$blue-40}, #{$blue-60});
    --link-visited: light-dark(#{$violet-40}, #{$violet-80});
    --link-active: light-dark(#{$red-40}, #{$red-60});
    --page-background: #{$page-background};
    --page-background-inverse: #{$page-background-inverse};
    --page-color: #{$page-color};
    --page-color-inverse: #{$page-color-inverse};
    --surface-background: #{$surface-background};
    --surface-box-shadow: #{$surface-box-shadow};
    --theme-primary: #{$theme-primary};
    --theme-secondary: #{$theme-secondary};
    // END THEME COLORS

    accent-color: var(--theme-primary);
    color-scheme: light dark;
}

@mixin root-variables-light {
    --component-background: var(--gray-80);
    --component-box-shadow: 0 0 0.05rem 0.05rem var(--white), 0 0 0.25rem 0.25rem var(--theme-primary);
    --link: #{$blue-40};
    --link-visited: #{$violet-40};
    --link-active: #{$red-40};
    --page-background: var(--white);
    --page-color: var(--black);
    --page-background-inverse: var(--black);
    --page-color-inverse: var(--white);
    --surface-background: var(--white);
    --surface-box-shadow: 0.25rem 0.25rem 0.25rem 0rem var(--gray-70);
}

@mixin root-variables-dark {
    --component-background: var(--gray-30);
    --component-box-shadow: 0 0 0.05em 0.05em var(--white), 0 0 0.25em 0.25em var(--theme-primary);
    --page-background: var(--gray-20);
    --page-color: var(--white);
    --page-background-inverse: var(--black);
    --page-color-inverse: var(--white);
    --link: #{$blue-60};
    --link-visited: #{$violet-80};
    --link-active: #{$red-60};
    --surface-background: var(--gray-30);
    --surface-box-shadow: 0.25em 0.25em 0.25em 0rem var(--gray-50);
}

@mixin root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 0;
    text-align: $text-align;
    line-height: $line-height;

    > header {
        margin-block-end: var(--margin);

        button {
            --border-color: transparent;
        }

        nav {
            padding: $layout-padding;
            @include layout-utilities.flex-between;

            div {
                @include layout-utilities.flex-between;
            }
        }
    }

    > main {
        margin-block-end: var(--margin);
        padding-inline: $layout-padding-inline;
    }

    > footer {
        margin-top: auto;
        padding: $layout-padding;
        text-align: center;
    }

    > header nav,
    main {
        @include layout-utilities.container;
    }
}

@mixin root-layout-themed {
    background: var(--page-background);
    color: var(--page-color);
    font-family: $font-family-sans-serif;
    font-size: var(--font-size);
    font-weight: var(--font-weight);

    > header,
    footer {
        background: var(--page-background-inverse);
        color: var(--page-color-inverse);

        a:any-link {
            color: var(--page-color-inverse);
            text-decoration: none;
        }
    }

    > header {
        a.brand {
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-lg);
        }
    }
}