@use '../variables' as *;
@use '../components';
@use '../layout-utilities';

@mixin root-variables {
    --font-size-normal: #{$font-size-normal};
    --font-size-large: #{$font-size-large};
    --font-size-small: #{$font-size-small};
    --font-weight-normal: #{$font-weight-normal};
    --font-weight-bold: #{$font-weight-bold};

    --surface-border: #{$surface-border-width} #{$surface-border-style} #{$surface-border-color};
    --surface-padding: #{$surface-padding};

    --component-color: #{$component-color};
    --component-border-width: #{$component-border-width};
    --component-border: var(--component-border-width) #{$component-border-style} #{$component-border-color};
    --component-padding-inline: #{$component-padding-inline};
    --component-padding-block: #{$component-padding-block};
    --component-padding: var(--component-padding-inline) var(--component-padding-block);
    --component-padding-large: #{$component-padding-large};
    --component-padding-small: #{$component-padding-small};

    // START THEME COLORS
    --component-background: light-dark(#{$gray-80}, #{$gray-30});
    --component-box-shadow: 0 0 0.05rem 0.05rem var(--theme-white), 0 0 0.25rem 0.25rem var(--theme-primary);
    --link: light-dark(#{$blue-40}, #{$blue-60});
    --link-visited: light-dark(#{$violet-40}, #{$violet-80});
    --link-active: light-dark(#{$red-40}, #{$red-60});
    --page-background: light-dark(var(--theme-white), #{$gray-20});
    --page-color: light-dark(var(--theme-black), var(--theme-white));
    --page-background-inverse: light-dark(var(--theme-black), var(--theme-black));
    --page-color-inverse: light-dark(var(--theme-white), var(--theme-white));
    --surface-background: light-dark(#{$gray-90}, #{$gray-30});
    --surface-box-shadow: 0.25rem 0.25rem 0.25rem 0rem light-dark(#{$gray-70}, #{$gray-50});
    --theme-primary: light-dark(#{$orange-60}, #{$orange-60});
    --theme-secondary: light-dark(#{$gray-80}, #{$gray-80});
    --theme-white: light-dark(#{$white}, #{$white});
    --theme-black: light-dark(#{$black}, #{$white});
    // END THEME COLORS

    accent-color: var(--theme-primary);
    color-scheme: light dark;
}

@mixin root-variables-light {
    --component-background: #{$gray-80};
    --component-box-shadow: 0 0 0.05rem 0.05rem var(--theme-white), 0 0 0.25rem 0.25rem var(--theme-primary);
    --link: #{$blue-40};
    --link-visited: #{$violet-40};
    --link-active: #{$red-40};
    --page-background: #{$white};
    --page-color: #{$black};
    --page-background-inverse: #{$black};
    --page-color-inverse: #{$white};
    --surface-background: #{$gray-90};
    --surface-box-shadow: 0.25rem 0.25rem 0.25rem 0rem #{$gray-70};
}

@mixin root-variables-dark {
    --component-background: #{$gray-30};
    --component-box-shadow: 0 0 0.05em 0.05em var(--theme-white), 0 0 0.25em 0.25em var(--theme-primary);
    --page-background: #{$gray-20};
    --page-color: #{$white};
    --page-background-inverse: #{$black};
    --page-color-inverse: #{$white};
    --link: #{$blue-60};
    --link-visited: #{$violet-80};
    --link-active: #{$red-60};
    --surface-background: #{$gray-30};
    --surface-box-shadow: 0.25em 0.25em 0.25em 0rem #{$gray-50};
}

@mixin root-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border-radius: 0;
    text-align: $text-align-base;
    line-height: $line-height-base;

    > header {
        margin-block-end: $layout-margin-block-end;

        nav {
            padding: $layout-padding;
            @include layout-utilities.flex-between;

            div {
                @include layout-utilities.flex-between;
            }
        }
    }

    > main {
        margin-block-end: $layout-margin-block-end;
        padding-inline: $layout-padding-inline;
    }

    > footer {
        margin-top: auto;
        padding: $layout-padding;
        text-align: center;
    }

    > header nav,
    main {
        @include layout-utilities.container;
    }
}

@mixin root-layout-themed {
    background: var(--page-background);
    color: var(--page-color);
    font-family: $font-family-sans-serif;
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);

    > header,
    footer {
        background: var(--page-background-inverse);
        color: var(--page-color-inverse);

        a:any-link {
            color: var(--page-color-inverse);
            text-decoration: none;
        }
    }

    > header {
        a.brand {
            /** TODO: The top three shouldn't be included for every page **/
            background: linear-gradient(#ff8000, #ffb366, #ffe6cc, #ffb366, #ff8000);
            background-clip: text;
            color: transparent;
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-large);
        }
    }
}