@use '../variables';

@mixin light-mode-variables {
    // --color-dark: #{variables.$dark};
    // --color-light: #{variables.$light};
    // --color-primary-light: #{variables.$orange-70};
    // --color-primary: #{variables.$orange-60};
    // --color-primary-dark: #{variables.$orange-50};
    // --color-secondary-light: #{variables.$gray-70};
    // --color-secondary: #{variables.$gray-60};
    // --color-secondary-dark: #{variables.$gray-50};

    --primary: transparent;
    --primary-variant: transparent;
    --primary-box-shadow: #{variables.$input-range-thumb-focus-box-shadow};
    --on-primary: transparent;

    --secondary: transparent;
    --secondary-variant: transparent;
    --secondary-box-shadow: #{variables.$box-shadow-default};
    --on-secondary: transparent;

    --background: transparent;
    --on-background: transparent;

    --surface: transparent;
    --surface-box-shadow: #{variables.$box-shadow-default};
    --on-surface: transparent;

    --border-color: currentColor;
    --border-width: 1px;
}
