@use '../variables';

@mixin light-mode-variables {
    --color-dark: #{variables.$dark};
    --color-light: #{variables.$light};
    --color-primary: #{variables.$primary};
    --color-primary-light: #{variables.$primary-light};
    --color-secondary: #{variables.$secondary};
    --color-secondary-dark: #{variables.$secondary-dark};
    --color-secondary-light: #{variables.$secondary-light};

    --background-color: transparent;
    --background-color-hover: transparent;
    --background-color-active: transparent;
    --border-color: currentColor;
    --border-width: 1px;
    --color: inherit;

    --box-shadow-primary: #{variables.$input-range-thumb-focus-box-shadow};
    --box-shadow-secondary: #{variables.$box-shadow-default};

    --card-background-color: #{variables.$light};
    --card-box-shadow: #{variables.$box-shadow-default};
    --tooltip-background-color: #{variables.$light};
    --tooltip-box-shadow: #{variables.$box-shadow-default};
}
