@use '../variables';

@mixin layout-root($selector: variables.$layout-root-selector) {
    #{$selector} {
        font-family: variables.$font-family-sans-serif;
        font-size: variables.$font-size-base;
        font-weight: variables.$font-weight-normal;
        line-height: variables.$line-height-base;
        text-align: start;
    }
}